{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge</title>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/alerts.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>



    <header>
        <div id="stick"><p>WEBINAR</p></div>
        <div id="header-block">
            <h1>El reto de humanizar el CX financiero en 2021.<br>
                <i>La experiencia de un Unicornio de Latam</i>
            </h1>
            <p id="subtitle">Miércoles 16 de diciembre | 17hs (Horario de Quito)</p>
        </div>
        
    </header>

    <main>
        <div id="left">
            <div class="images">
                <img src="{% static 'evento_virtual/assets/Group 5.jpg' %}" alt="">
            </div>

            <p data-aos="fade-up">
                Te invitan a este webinar, donde trataremos la temática de cómo humanizar la
                experiencia del cliente de Banca y Seguros en el nuevo entorno digital
            </p>

            <p data-aos="fade-up">
                Además, podremos conocer las estrategias que aplicó LOREM para generar una experiencia 
                memorable para sus clientes, mientras se convertía en el gran Unicornio de LATAM.
            </p>

            <p data-aos="fade-up">
                Escucha de primera mano la voz de nuestros especialistas:
            </p>

            <div id="specialists" data-aos="fade-up">

                <div class="perez">
                    <img src="{% static 'evento_virtual/assets/img-astudillo.png' %}" alt="">
                    <h2>José Pérez</h2>
                    <p>Presidente</p>
                </div>

                <div class="perez">
                    <img src="{% static 'evento_virtual/assets/img-astudillo.png' %}" alt="">
                    <h2>José Pérez</h2>
                    <p>Customer Service Senior Manager</p>
                </div>

                <div class="perez">
                    <img src="{% static 'evento_virtual/assets/img-astudillo.png' %}" alt="">
                    <h2>José Pérez</h2>
                    <p>Senior Customer Success Consultant</p>
                </div>

                <div class="perez">
                    <img src="{% static 'evento_virtual/assets/img-astudillo.png' %}" alt="">
                    <h2>José Pérez</h2>
                    <p>Gerente de Consultoría de Soluciones</p>
                </div>

            </div>

            <p data-aos="fade-up">
                Participa e inspírate para innovar y mejorar la interacción entre clientes y marcas 
                con historias de éxito de empresas del ámbito financiero de América Latina.
            </p>

            <p data-aos="fade-up">
                ¡Te esperamos!
            </p>

            <div class="images" data-aos="fade-up">
                <img src="{% static 'evento_virtual/assets/Group 5.jpg' %}" alt="">
            </div>
        </div>

        <div id="right" data-aos="fade-up">
            <h3>¡Inscríbete y reserva tu lugar ahora!</h3>

            <form method="post" name="form">
                {% csrf_token %}

                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" class="entry" required>

                <label for="last_name">Apellido</label>
                <input type="text" name="last_name" id="last_name" class="entry" required>

                <label for="email">Correo electrónico del trabajo</label>
                <input type="email" name="email" id="email" class="entry" required>

                <label for="country">País</label>
                <select name="country" id="country" class="entry" required>
                    <option value="Argentina" class="choices">Argentina</option>
                    <option value="Bolivia" class="choices">Bolivia</option>
                    <option value="Brasil" class="choices">Brasil</option>
                    <option value="Chile" class="choices">Chile</option>
                    <option value="Colombia" class="choices">Colombia</option>
                    <option value="Ecuador" class="choices">Ecuador</option>
                    <option value="Paraguay" class="choices">Paraguay</option>
                    <option value="Perú" class="choices">Perú</option>
                    <option value="Uruguay" class="choices">Uruguay</option>
                    <option value="Venezuela" class="choices">Venezuela</option>
                </select>

                <label for="phone">Número de teléfono</label>
                <input type="text" name="phone" id="phone" class="entry" required>

                <label for="position">Puesto de trabajo</label>
                <input type="text" name="position" id="position" class="entry" required>

                <input type="submit" value="Inscríbete" onclick="confirm(event)" id="button">
            </form>
        </div>
    </main>

    <footer data-aos="fade-down-right">
        <div id="endblock">
            <div id="copyright">
                <p>©  2020</p>
            </div>

            <div id="social-media">
                <img src="{% static 'evento_virtual/assets/twitter.png' %}" alt="">
                <img src="{% static 'evento_virtual/assets/facebook.png' %}" alt="">
                <img src="{% static 'evento_virtual/assets/linkedin.png' %}" alt="">
                <img src="{% static 'evento_virtual/assets/youtube.png' %}" alt="">
                <img src="{% static 'evento_virtual/assets/instagram.png' %}" alt="">
                <img src="{% static 'evento_virtual/assets/snapchat.png' %}" alt="">
            </div>
        </div>
    </footer>
    
</body>

<!-- Traemos a la librería sweetalert2 y establecemos un preventDefault
para preguntar al usuario si confirma el envío del formulario. -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.34/dist/sweetalert2.all.min.js"></script>
<script>
    
    function confirm(event){
        event.preventDefault(),
        Swal.fire({
                icon: 'question',
                title: '¿Estás seguro de querer registrar estos datos?',
                showCancelButton: true,
                showDenyButton: false,
                confirmButtonText: 'Sí',
                confirmButtonColor: '#02363D',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.form.submit();
                }
            }
        )
    };


    </script>


<!-- Con AOS iniciamos las animaciones en las etiquetas
marcadas con 'data-aos' -->
<script>
    if (!window.Cypress) AOS.init({
        useClassNames: true,
        initClassName: false,
        animatedClassName: 'animated',
    });
</script>
</html>

{% endblock %}